.grid {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid > * {
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .grid {
    flex-direction: row;
    justify-content: space-around;
  }
}
