.nav-container {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 4rem;
  background-color: transparent;
  margin-bottom: 1rem;
}

.nav-controls {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  border-bottom: rgb(145, 145, 145) solid 1px;
}

.nav-button {
  border: none;
  background-color: transparent;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-button span {
  width: 33px;
  height: 4px;
  background: #000;
  border-radius: 3px;
  z-index: 1;
  margin: 2px 0 2px 0;
}

.nav-mobile-options {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.nav-mobile-options-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.nav-filter-input {
  padding: 0.8rem;
  width: 100%;
  border: 1px #000 solid;
  background-color: transparent;
}

.nav-search-button {
  background-color: #406dfe;
  color: #fff;
  padding: 0.8rem;
  border: none;
  width: 100%;
  margin: 1rem 0 1rem 0;
  border: 1px solid #406dfe;
}

.nav-clear-button {
  color: #406dfe;
  background-color: #fff;
  padding: 0.8rem;
  border: 1px solid #406dfe;
  width: 100%;
  margin-bottom: 1rem;
}

.nav-mobile-options-hidden {
  display: none;
}

.nav-desktop-options {
  display: none;
}
.nav-sort-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.nav-sort-input {
  width: 90%;
}
.nav-sort-button {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .nav-controls {
    justify-content: center;
  }
  .nav-button {
    display: none;
  }
  .nav-mobile-options {
    display: none;
  }
  .nav-search-button {
    margin: 0;
    width: 10rem;
    padding: 0.5rem;
  }
  .nav-clear-button {
    margin: 0;
    width: 10rem;
    padding: 0.5rem;
  }
  .nav-filter-input {
    width: 10rem;
    padding: 0.5rem;
    margin-left: 5px;
  }
  .nav-desktop-options {
    max-width: 1360px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .nav-sort-container {
    width: auto;
    display: flex;
    align-items: center;
    margin: 0;
  }
  .nav-sort-button {
    margin-left: 1rem;
  }
}
