.user-card-container {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  width: 80%;
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.user-card-header {
  flex: 1;
  background-color: #406dfe;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card-edit-container {
  width: 100%;
  background-color: transparent;
  text-align: left;
}

.user-card-edit {
  color: #fff;
  left: 0;
  transform: translate(10px, 10px);
  cursor: pointer;
}

.user-card-edit-done {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 0.75rem;
}

.user-card-picture {
  position: absolute;
  transform: translateY(80px);
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: solid 4px #fff;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.user-card-title {
  color: #fff;
}

.user-card-body {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.user-card-body-spacer {
  flex: 1;
}

.user-card-body-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
